.navbar{
    display: flex;
    background-color: aliceblue;
}
.navbar ul{
    display: flex;
    margin: auto;
    padding: 10px;

}
.navbar ul li{
    color: red;
    text-decoration: none;
    margin: 10px;
    list-style-type: none;
    cursor: pointer;
}